body {
 background-color: black;

}

#topbar {
    background-color: black;
    border-color: white;
    border-bottom: 5px solid white;
    height: 10%;
}

#title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: white;
    text-align: center;
    justify-content: center;
}

#author {
    text-align: center;
    color: grey;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;

}

#game {
    display: block;
    justify-content: center;
}

#return {
    float: left;
    text-align: center;
    color: antiquewhite;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
}

#return:hover {
    background-color: white;
    animation-duration: 0.5s;
}